<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>B B BIG</title>

     <!-- FAV AND TOUCH ICONS   -->
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/apple-touch-icon-114x114.png">

    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
      <!-- font-family: 'Merriweather', serif; -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
      <!-- font-family: 'Open Sans', sans-serif; -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">

    <!-- Image Slider -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plagin-css/owl.carousel.css') }}">

    <!-- Full Page Scroll -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plagin-css/jquery.fullPage.css') }}">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='icons/rik-icons/styles.css') }}">

    <!--   COUSTOM CSS link  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body class="style-1">

    <!-- Start: Preloader Section
    =================================== -->
    <div id="main-preloader" class="main-preloader semi-dark-background">
        <div class="main-preloader-inner center">

            <h1 class="preloader-percentage center">
                <span class="preloader-percentage-text">0</span> <!-- Show Percentage Number -->
                <span class="percentage">%</span>
            </h1>
            <div class="preloader-bar-outer">
                <div class="preloader-bar"></div> <!-- Percentage Precess Bar -->
            </div>

        </div>
    </div>
    <!-- End: Preloader Section
    =================================== -->



    <!-- Start: Navbar  Area
    ============================= -->
    <nav class="navbar navbar-fixed-top main-navbar-top navbar-top-js" id="main-navbar-top" >
        <div class="container relative">
            <div class="navbar-header">

                <!-- Menu Button show Mobile view -->
                <button type="button" class="nav-trigger nav-trigger-animate"  data-target="#js-navbar-menu">
                    <span aria-hidden="true" class="icon"></span>
                </button>

                <!-- TEMPLATE LOGO LIGHT -->
                <a class="navbar-brand light-logo" style='padding-top: 7px;' href="/"><img src="static/images/logo.png" class="img-responsive"></a>

            </div>

            <!-- Main Menu List -->
            <div class="navbar-collapse" id="js-navbar-menu">
                <ul class="nav navbar-nav navbar-right" id="navbar-nav">
                    <li><a class="btn-nav" href="/result">Analysis Report</a></li>
                    <li><a class="btn-nav" href="/team">Team</a></li>
                    <li><a class="btn-nav" href="#8">Contact Us</a></li>
                </ul>
            </div>


            <!-- Right Side Navigation Button -->
            <div class="navbar-collapse-right" >
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="btn-nav" href="#8">Contact us<i class="icon icon-arrow-right"></i></a></li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- End: Navbar Area
    ============================= -->



    <!-- Start: Page Slider Area
    ================================== -->
    <section class="content-area" id="fullpage">
        <div class="container-fluid">
            <div class="row">

                <!--Start: 1st Page Slider Section
                    - HOME PAGE
                ====================================-->
                <div class="section section-item home-section overflow hide-overlay overlay-color bg-image-1" data-heading="">
                    <div class="inner-container ">
                        <div class="container">
                            <div class="row">

                                <div class="col-xs-8 col-xs-offset-2">
                                    <div class="row">

                                        <div class="home-content-outer text-center">

                                            <div class="overflow">
                                                <div class="heading-outer left-right relative">
                                                    <div class="heading-outer top-bottom relative">
                                                        <div class="overflow p-t-40 p-l-40 p-r-40 p-b-40">
                                                            <div class="section-heading-outer">
                                                                <h1 class="heading">불량률<span class="color">예측 & 경고</span>시스템</h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="overflow m-t-30">
                                                <div class="list-view">
                                                    <ul class="nav">
                                                        <li><a id='team-name' class="btn-mask" href="#">B반 2조</a></li>
                                                        <li><a id='team-name' class="btn-mask" href="#" style="word-spacing: 5px;">배종범 손보미 이연주 정가람 유종환</a></li>
                                                        <!-- <li><a class="btn-mask" href="#">BRANDING</a></li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Next Section Arrow -->
                                <div class="footer-button">
                                    <div class="overflow m-t-30">
                                        <div class="btn-form-outer">  <!-- Button Area -->
                                            <a href="#2" class="btn"><i class="icon icon-arrow-carrot-down"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Home Page Buttom Navigation -->
                                <nav class="navbar navbar-fixed-top main-navbar-top home-nav overflow">
                                    <div class="container relative home-nav-inner">
                                        <div class="navbar-header">
                                        </div>

                                        <div class="navbar-collapse-right" >
                                            <ul class="nav navbar-nav navbar-right">
                                                <li>
                                                    <a class="btn-nav btn-mask" href="#8">제품 문의<i class="icon icon-arrow-right"></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </nav>
                                <!-- End: Home Page Buttom Navigation -->

                            </div>
                        </div>
                    </div>
                </div>
                <!--End: 1st Page Slider Section
                    - HOME PAGE
                ====================================-->




                <!--Start: 2nd Page Slider Section
                    - SERVICES PAGE
                ====================================-->
                <div class=" section section-item combine-section hide-overlay overflow semi-dark-background" data-heading="">
                      
                    <div class="inner-container services-section " id="services" style="background-size: cover; background-repeat: no-repeat; background-image: url(static/images/ai2.png);">
                        <div class="container">
                            <p class="text-center predict_title">불량률 <span class="color">예측하기</span></p>
                        </div>
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 overflow" style="margin-left: 27%;">
                            <div class="row single-form-outer">
                                <form>
                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                              <label for="inputZip">산화공정</label>
                                              <input type="text" placeholder='Type' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <label for="inputZip">포토공정 1</label>
                                              <input type="text" placeholder='resist_target	' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <label for="inputZip">포토공정 2</label>
                                              <input type="text" placeholder='UV_type' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <label for="inputZip">식각공정</label>
                                              <input type="text" placeholder='Thin F4' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <label for="inputZip">이온공정</label>
                                              <input type="text" placeholder='Flux60s' class="form-control" id="inputZip">
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Temp_OXid' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='N2_HMDS' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Wavelength' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Thin F3' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Flux90s' class="form-control" id="inputZip">
                                            </div>
                                        </div>    
                                    </div>
                                    
                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Vapor' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='pressure_HMDS' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Resolution' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Thin F2' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Flux160s' class="form-control" id="inputZip">
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Ppm' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='temp_HMDS' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Energy_Exposure' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Thin F1' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Flux480s' class="form-control" id="inputZip">
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Pressure' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='temp_HMDS_bake' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Line_CD' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Temp_Etching' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Flux840s' class="form-control" id="inputZip">
                                            </div>
                                        </div>    
                                    </div>
                                    
                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Oxid_time' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='time_HMDS_bake' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='temp_softbake' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Source_Power' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='input_Energy' class="form-control" id="inputZip">
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Temp_OXid' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='spin1' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='time_softbake' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Selectivity' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Temp_implantation' class="form-control" id="inputZip">
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                            </div>
                                            <div class="form-group col-md-2">    
                                              <input type="text" placeholder='spin2' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                            </div>
                                            <div class="form-group col-md-2">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='Furance_Temp' class="form-control" id="inputZip">
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='spin3' class="form-control" id="inputZip">
                                            </div>
                                            <div class="form-group col-md-2">
                                            </div>
                                            <div class="form-group col-md-2">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='RTA_Temp' class="form-control" id="inputZip">
                                            </div>
                                        </div>    
                                    </div>

                                    <div class="col-xs-10">
                                        <div class="form-row" style="text-align: center;">
                                            <div class="form-group col-md-2">
                                            </div>
                                            <div class="form-group col-md-2">
                                              <input type="text" placeholder='photoresist_bake' class="form-control" id="inputZip">
                                            </div>
                                        </div>       
                                    </div>
                                    <div class="col-xs-8">
                                      <button type="button" style='width: 100%; height: 45px; 
                                      border-top-left-radius: 5px; border-bottom-left-radius: 5px;
                                      border-top-right-radius: 5px; border-bottom-right-radius: 5px;'
                                      class="btn btn-warning btn-primary btn-lg">결과 예측</button>
                                    </div>
                                </form>

                            </div> <!-- /#testimonials-1 -->
                        </div> <!-- End: .col-xs-12 -->
                        </div>      
                    </div>     
                </div>
 
                <!--End: 2nd Page Slider Section
                    - SERVICES PAGE
                ====================================-->

    </section>
    <!-- End: Portfolio Section Headline Content
    =============================================== -->





    <!-- SCRIPTS
    ========================================-->
    <script src="static/js/plagin-js/jquery-1.11.3.js"></script>
    <script src="static/js/plagin-js/preloader.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/plagin-js/plagin.js"></script>

    <!-- Custom Script
    ==========================================-->
    <script src="static/js/custom-scripts.js"></script>



</body>

</html>